[Association Rules Generation from Frequent Itemsets](https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/)

In [1]:
import pandas as pd

In [2]:
tweets_ods = pd.read_feather('../data/tweets_ods')
tweets_ods.head()

,text,index,ODS_1,ODS_2,ODS_3,ODS_4,ODS_5,ODS_6,ODS_7,ODS_8,ODS_9,ODS_10,ODS_11,ODS_12,ODS_13,ODS_14,ODS_15,ODS_16,ODS_17
0,promotoresods desear feliz año necesitar esper...,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,aplicación regar aguar depurar enzima natural ...,7,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0
2,lunes estrenar esperar 19:30 _ 13c viajar para...,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,década cumplir objetivo agenda2030 preparar en...,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,nº 329 homenaje municipalismo 40añosdedemocrac...,10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
ods = tweets_ods.drop(['text', 'index'], axis=1)
ods.head()

,ODS_1,ODS_2,ODS_3,ODS_4,ODS_5,ODS_6,ODS_7,ODS_8,ODS_9,ODS_10,ODS_11,ODS_12,ODS_13,ODS_14,ODS_15,ODS_16,ODS_17
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

El dataframe `ods` ya tiene el formato de _cesta de la compra_

In [4]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [8]:
frequent_itemsets = apriori(ods, min_support=0.04, use_colnames=True)

frequent_itemsets

       support                                           itemsets
0     0.166174                                            (ODS_1)
1     0.216203                                            (ODS_2)
2     0.339720                                            (ODS_3)
3     0.352848                                            (ODS_4)
4     0.249083                                            (ODS_5)
...        ...                                                ...
2596  0.075222  (ODS_1, ODS_3, ODS_9, ODS_12, ODS_10, ODS_5, O...
2597  0.040568  (ODS_1, ODS_3, ODS_11, ODS_9, ODS_12, ODS_10, ...
2598  0.042539  (ODS_1, ODS_3, ODS_11, ODS_9, ODS_12, ODS_5, O...
2599  0.044668  (ODS_1, ODS_3, ODS_11, ODS_9, ODS_12, ODS_10, ...
2600  0.041593  (ODS_3, ODS_11, ODS_9, ODS_12, ODS_10, ODS_5, ...

[2601 rows x 2 columns]

In [11]:
frequent_itemsets.sort_values(by='support', ascending=False).head(20)

      support                itemsets
5    0.486458                 (ODS_8)
7    0.388961                (ODS_10)
61   0.378947         (ODS_8, ODS_10)
6    0.368697                 (ODS_9)
3    0.352848                 (ODS_4)
60   0.339957          (ODS_8, ODS_9)
2    0.339720                 (ODS_3)
9    0.337788                (ODS_12)
46   0.328445          (ODS_8, ODS_4)
63   0.310625         (ODS_12, ODS_8)
69   0.302819         (ODS_12, ODS_9)
37   0.298600          (ODS_8, ODS_3)
67   0.289493         (ODS_10, ODS_9)
280  0.288626  (ODS_8, ODS_12, ODS_9)
278  0.288311  (ODS_8, ODS_10, ODS_9)
48   0.285985         (ODS_4, ODS_10)
239  0.284920  (ODS_8, ODS_4, ODS_10)
47   0.272344          (ODS_4, ODS_9)
39   0.271200         (ODS_3, ODS_10)
207  0.267100  (ODS_8, ODS_3, ODS_10)